<h1> Olá, <%= @profile.name %></h1>

<%= link_to 'Voltar', root_path, method: :get, class: 'button is-light' %>

<%= form_with do |form|%>
<div class="input-group mb-3">
  <%= form.text_field :filme, class:'form-control', placeholder: 'Buscar filmes', 'aria-label': 'Buscar filmes' %>
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="button">Buscar</button>
  </div>
  <% end %>
  </div>
