var resultado = document.querySelector(".resultado")
var img = "https://www.joblo.com/assets/images/joblo/database-specific-img-225x333.jpg"

var movies = ""
<% @movies['results'].each do |item| %>
    var cadaFilme = <%= raw item.to_json %>

    if (cadaFilme.poster_path) {
    img = `https://image.tmdb.org/t/p/original/${cadaFilme.poster_path}`
  } else {
    img = "https://www.joblo.com/assets/images/joblo/database-specific-img-225x333.jpg"
  }
    
  var html = `
  <div class="card" style="width: 18rem; margin: 6px;">
    <img src="${img}" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title btn btn-light" data-toggle="modal" data-target="#exampleModal">${cadaFilme.title}</h5>
      <p class="card-text">${cadaFilme.overview}</p>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
            <strong>${cadaFilme.title}</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <p><strong> Idioma Original: </strong> ${cadaFilme.original_language}</p>
            <p><strong> Data de lançamento: </strong> ${cadaFilme.release_date}</p>
            <p><strong> Popularidade: </strong> ${cadaFilme.popularity}</p>
            <p><strong> Resumo:</strong> ${cadaFilme.overview} </p>
          </div>

          <div class="modal-footer">
            <%= link_to 'Assistir', watch_movies_path(item), class:'btn btn-success', method: :post, remote: true  %>
            <%= link_to 'Assistido', watched_movies_path(item), class:'btn btn-warning', method: :post, romote: true %>
          </div>

        </div>
      </div>
    </div>

  </div>
  `

  movies += html
<% end %>

resultado.innerHTML = movies



