var resultado = document.querySelector(".resultado")
var resBusca = JSON.parse(<%= raw @movies %>)
var img = "https://www.joblo.com/assets/images/joblo/database-specific-img-225x333.jpg"

resultado.innerHTML = ""
for (cadaFilme  of resBusca.results) {

  if (cadaFilme.poster_path) {
    img = `https://image.tmdb.org/t/p/original/${cadaFilme.poster_path}`
  } else {
    img = "https://www.joblo.com/assets/images/joblo/database-specific-img-225x333.jpg"
  }
    
  const html = `<div class="card" style="width: 18rem; margin: 6px;">
  <img src="${img}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">${cadaFilme.title}</h5>
    <p class="card-text">${cadaFilme.overview}</p>
  </div>
  </div>`

  resultado.innerHTML += html
}

